@charset "utf-8";
/*=============================================================================================================================================================
	REGISTRARSE - Afecta a la opcion del menú "registrarse"
=============================================================================================================================================================*/



/*====================================
	Estilo para nuevo registro
=====================================*/
#divNuevoUser
{
	position: relative;
}

#divFormNuevoUser
{
	position: relative;
}


.divregistrate
{
	margin-left: 5px;
}



/*=====================================
	Estilo para recordatorio de clave
======================================*/
#divRecUser
{
	position: relative;
}
