@charset "utf-8";
/*=============================================================================================================================================================
	INICIO - Afecta a la pagina de inicio
=============================================================================================================================================================*/


/*============================================
	Estilo de secuencia de imagenes
=============================================*/
#divImagenes
{
	position: relative;
	
	width: 1024px;
	height: 500px;
	
	text-align: center;
}


#imgPortada
{
	width: 1024px;
	height: 500px;
	
	display: block;
	
	margin-left: auto;
	margin-right: auto;	
}

