@charset "utf-8";
/*=============================================================================================================================================================
	REGISTRARSE - Afecta a la opcion del menú "registrarse"
=============================================================================================================================================================*/


/*============================================
	Estilo para editar usuario
=============================================*/
#divEditarUser
{
	position: relative;
}



/*============================================
	Estilo para baja de usuario
=============================================*/
#divBajaUser
{
	position: relative;
}


#divFormBajaUser
{
	margin-left: 10px;
}